.heading {
    width: 100%;
    text-align: left;
}

.heading button {
    float: right;
    border: 1px solid white;
    color: deeppink;
    font-weight: 500;
    border-radius: 4px;
}


.instruction_image{
    display: inline-block;
    width: 45%;
    
}